body{
    padding: 50px;
}

header{
    background-color: rgb(253, 254, 254);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
 
}

.logo{
width: 60px;
height: 40px;
}

ul{
    display: flex;
    justify-content: center;
    gap:40px;
}

ul li a{
    text-decoration: none;
    color: black;
    }

    ul li{
        list-style-type: none;
    }

    .globe-menu{
        display: flex;
        gap:20px;
    }
.globe{
    width: 30px;
    height: 30px;
}

.grip-lines{
    width: 30px;
    height: 30px;
}

main{
    background-color: rgba(238, 235, 235, 0.686);
    height: 900px;
}
.title{
    font-family: 'Noto Sans', sans-serif;
    font-size: 100px;
    width: 350px;
    margin-left: 500px;
    margin-top: 5px;
}
.mini-title{
    font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-style: italic;
display: table-caption;
width: 150px;
margin-top: 90px;
margin-left: 15px;
}
.arrow{
    display: flex;
    justify-content: flex-end;
    margin-top: -160px;
    
}
.arrow-icon{
    height: 150px;
}

.content-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px;
    grid-gap:20px 10px;
    margin-top: 40px;
    overflow:hidden;
  
}
.content-wrapper div{
    background-color: rgba(212, 210, 210, 0.548);
}

.pic1{
height: 170px;
width:130px;
padding: 15px;
}
.pic2{
    height: 170px;
width:130px;
padding: 15px;
}
.pic3{
    height: 170px;
width:130px;
padding: 15px;
}

span{
    align-items: center;
}