body{
    padding: 50px;
}

header{
    background-color: rgb(253, 254, 254);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
 
}

.logo{
    font-size: 45px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 20px;
}

ul{
    display: flex;
    justify-content: center;
    gap:40px;
}

ul li a{
    text-decoration: none;
    color: black;
    }

    ul li{
        list-style-type: none;
    }

    .globe-menu{
        display: flex;
        gap:20px;
    }
.globe{
    width: 30px;
    height: 30px;
}

.grip-lines{
    width: 30px;
    height: 30px;
}

main{
    background-color: rgba(238, 235, 235, 0.686);
    height: 2000px;
}
.title{
    font-family: 'Noto Sans', sans-serif;
    font-size: 100px;
    width: 350px;
    margin-left: 500px;
    margin-top: 5px;
}
.mini-title{
    font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-style: italic;
display: table-caption;
width: 150px;
margin-top: 90px;
margin-left: 15px;
}
.arrow{
    display: flex;
    justify-content: flex-end;
    margin-top: -160px;
    
}
.arrow-icon{
    height: 150px;
}

.content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap:20px 10px;
    margin-top: 40px;
    padding: 20px;
   
  
}
.content-wrapper div{
    background-color: rgba(212, 210, 210, 0.548);
}

.pic1{
height: 170px;
width:130px;
padding: 15px;
object-fit: cover;
}
.pic2{
    height: 170px;
width:130px;
padding: 15px;
object-fit: cover;
}
.pic3{
    height: 170px;
width:130px;
padding: 15px;
object-fit: cover;
}

.first-board{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    margin-top: -189px;
    margin-left: -210px;
    color: rgba(139, 133, 133, 0.836);
}

.text1{
    display: table-caption;
    width: 200px;
    margin-left: 180px;
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.text2{
    width: 190px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-weight: bold;
    font-size: 20px;
}
.text3{
    display: table-caption;
    width: 200px;
    margin-left: 180px;
    margin-top: 60px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;

    
}
.text4{
    display: table-caption;
    width: 200px;
    margin-left: 180px;
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;

}
.second-date{
    color: rgba(139, 133, 133, 0.836);
    padding: 20px;
    margin-top: -2px;
}
.third-date{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    margin-top: -189px;
    margin-left: -210px;
    color: rgba(139, 133, 133, 0.836);
}
.fourth-date{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    margin-top: -189px;
    margin-left: -210px;
    color: rgba(139, 133, 133, 0.836);
}
button{
    background-color: rgba(30, 154, 221, 0.973);
    border-style: none;
    color: white;
    width: 150px;
    display: flex;
    gap: 50px;
}
    

.button{
    padding: 20px;
    display: flex;
    justify-content: center;
    
}
    button img{
        height: 20px;
        margin-top: 10px;
    }
.load-more{
    gap:10px
}
.title1{
font-family: 'Noto Sans', sans-serif;
display: flex;
margin-left: 500px;
font-size: 40px;
margin-top: 80px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    padding: 20px;
    height: 300px;
    
}
.first-card{
    background-color: rgba(30, 154, 221, 0.973);
    color: white;
    padding: 10px;
    
    
}
.second-card{
    background-color: black;
    color: white;
    padding: 10px;}


.logo1{
    font-size: 40px;
font-family: 'Noto Sans', sans-serif;
padding-bottom: 150px;

}
.title2{
    font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-size: 40px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}